# پوشه‌های کش‌شده و غیرضروری
build
.dart_tool
.packages
.pub-cache
.flutter-plugins
.flutter-plugins-dependencies

# پوشه‌های مربوط به IDE
.idea
.vscode

# فایل‌های Git
.git
.gitignore

# خروجی‌های دیگر
*.iml
*.lock
*.log
